<div class="splash-container">
  <h1>My wallet</h1>
  <div class="authentication-link">
    <%= link_to 'Sign in', new_user_session_path, class: 'auth active' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'auth' %>
  </div>
</div>
