<div class="form-container">
  <div class='header-container'>
      <%= link_to unauthenticated_root_path, class: "back-root" do %>
          <span class="material-symbols-outlined">
          arrow_back
          </span>
        <% end %>
      <h4>Login</h4>
      <%= link_to unauthenticated_root_path, class: "menu" do %>
          <span class="material-symbols-outlined">
        menu
        </span>
        <% end %>
      

        
  </div>

</div> 